body {
    background-image: url('../imgs/cipfpbatoi.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: brightness(45%);
}

.container {
    max-width: 100%;
}

.items-box {
    width: 80%;
}